.login{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    background-image: url(./../../images/login.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-contents{
    color: #000;
    /* border: 1px solid red; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.login-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

.login-img img{
    width: 15rem;
    height: 15rem;
    filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
    /* border: 1px solid red; */
}

.login-form h2{
    margin-bottom: 3rem;
}

.login-form input{
    outline: none;
    border: none;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #eee;
    border-radius: 20px;
    padding: .7rem 1rem;
    margin-bottom: .7rem;
}


.login-form button{
    border: none;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #053185;
    color: #fff;
    border-radius: 5px;
}

.login-form #loginButton{
    margin-top: 1rem;
}

.login-form h3{
    margin: .5rem 0;
    color: #666;
}



/* media Queries */
@media (max-width: 1400px){
    .login-contents{
        width: 75%;
    }
}

@media (max-width: 991px){
    .login-div{
        display: block;
    }
}

@media(max-width: 768px){

    .login-div{
        padding: 1rem;
    }
    .login-img img{
        width: 7rem;
        height: 7rem;
    }

    .login-form input{
        padding: .3rem .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .login-form button{
        border: none;
        /* margin-right: 20px; */
        padding: 5px 10px;
        background-color: #053185;
        color: #fff;
        border-radius: 5px;
    }

    
}